#campus-container{
    width:80%;
    margin:auto;
}

.campus{
    border:1px solid black;
    padding:10px;
    display:flex;
    justify-content: space-between;
    padding-left:15px;
    padding-right:15px;
    max-height: 100%;
    max-width:100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#campus-delete-button{
    background-color: red;
    color:white;
    border:1px solid black;
    border-radius: 3px;
}

.campus-image{
    max-width: 250px; 
    height: auto;
    object-fit: cover;
}

#campus-info-container{
    display:flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width:70%;
}

.campus-info-title{
    display:flex;
    flex-wrap: wrap;
}

#campus-name-container{
    overflow: hidden;
    max-width: 700px;
    text-overflow: ellipsis;
    display: inline-block;
}

.campus-description-container{
    overflow:hidden;
    text-overflow: ellipsis;
    max-height: calc(5 * 1.3em); /* Assuming line-height of 1.2em */
    line-height: 1.3em;
}

.campus-address-container{
    overflow:hidden;
    text-overflow: ellipsis;
    max-height: calc(2 * 1.3em);
    line-height: 1.3em;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  