#student-container{
    width:80%;
    margin:auto;
}

.student{
    border:1px solid black;
    border-radius:5px;
    padding:10px;
    display:flex;
    justify-content: space-between;
    padding-left:15px;
    padding-right:15px;
    margin-bottom:10px;
}

.buttons-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button{
    padding:4px;
    font-size:14px;
}

#student-delete-button{
    background-color: red;
    color:white;
    border:1px solid black;
    border-radius: 3px;
}

.add-student-button{
    margin:auto;
    margin-top:10px;
    width:15%;
    height:40px;
    background-color:rgb(93, 115, 204);
    color:white;
    border:none;
    border-radius:3px;
    font-size:15px;
    cursor:pointer;
    transition: background-color 0.3s;
}

.add-student-button:hover {
    background-color: rgb(63, 71, 164); 
}